#footer.mobile_footer
  bgColor(#363636)
  color()
  padt(1rem)
  height:auto
  padding:0.3rem
  mt(-0.1rem)
  .lists
    setAround()
    flex-direction: column
    align-items:flex-start
    >div
      setColumn()
      &.qr_code
        margin: 0.5rem auto
        setMiddle()
        img
          height:auto
          mb(0.3rem)
      p
        mb(0.1rem)
        mt(0.2rem)
      ul
        li
          inline()
          margin: 0.3rem 0.1rem
          fn(0.25rem)
          color(light_color)
  .with_hover
    a
      &:hover
        color(text_color)
  .xiao
    fn(0.2rem)
    padb(0.3rem)
    center()
    color(light_color)