body
  footer
    bgColor(#363636)
    height:250px
    color()
    mt(-2px)
    padt(80px)
    .lists
      setAround()
      align-items:flex-start
      >div
        setColumn()
        &.qr_code
          setMiddle()
          img
            height:auto
            mb(10px)
        p
          mb(20px)
        ul
          li
            margin:15px 0
            fn(12px)
            color(light_color)
    .with_hover
      a
        &:hover
          color(text_color)
    .xiao
      fn(12)
      mb(10px)
      center()
      color(light_color)