#purchaser
  relative()
  min-width: 1240px
  .app_main
    width:const_width
    margin:0 auto
  .header_bg
    relative()
    width:100%
    center()
    .top_bg
      width:100%
    .header_cont
      absolute()
      top:0
      right:0
      left:0
      bottom:0
      color()
      .app_main
        height: 100%
        setColumn()
        header
          position:fixed
          top:0
          left:0
          right:0
          z-index:5
          color()
          transition:all 0.25s ease-in-out
          &.active
            bgColor()
            boxShadow()
            a
              color(#333)
              &.active
                border-bottom-color:text_color !important
          .header_wrap
            setBetween()
            height:80px
            width: 1200px
            margin:0 auto
          img
            height:47px
            width:auto
          ul
            setEnd()
            fn(12px)
            li
              margin:0 15px
              a
                inline()
                color()
                padb(5px)
                &.active
                  border-bottom:3px solid #fff
        .logo_info
          alignL()
          letter-spacing: 3px
          margin:auto 0
          .fn34
            mb(30px)
            background-image: -webkit-gradient(linear, left 0, right 0, from(#00DEFF), to(#BDFFBF))
            -webkit-background-clip:text
            -webkit-text-fill-color:transparent
          .fn24
            background-image: -webkit-gradient(linear, left 0, right 0, from(#00DEFF), to(#BDFFBF))
            -webkit-background-clip:text
            -webkit-text-fill-color:transparent
        
#purchaser
  .decent_cont
    padt(90px)
    .title
      font-family: '黑体'
      fn(30px)
      inline()
      mb(10px)    
      color(#000)      
    .title_border
      borb(5px solid #4762E2)
      width:100px
      margin:0 auto
      mb(40px)
  .section_main
    .decent_cont
      center()
      &.traditional_problems
        mt(100px)
      .question
        fn(16px)
      .project_intro
        line-height:30px
        fn(12px)
      .equipment
        width:100%
        mt(40px)
      .lists
        setBetween()
        li
          padding:40px
          boxShadow()
          setColumn()
          align-items:center
          bold()
          fn(16px)
          img
            mb(20px)
      .problems
        setBetween()
        li
          relative()
          color()
          alignL()
          >img
            width:100%
          >div
            absolute()
            radius(5px)
            top:20px
            left:25px
            right:33px
            bottom:40px
            padding:25px 20px
            setColumn()
            align-items:flex-start
            bgColor(rgba(0,0,0,0.5))
            letter-spacing:2px
            >img
              width:auto
            p
              mt(20px)
              mb(30px)
              fn(20px)
            div
              line-height:30px
              fn(14px)
      .icon_list
        relative()
        img
          width:100%
          height:100%
        ul
          absolute()
          setBetween()
          width:86%
          ml(7%)
          &.first_ul
            top:120px
          &.sec_ul
            top:400px
          li
            fn(14px)
            color(light_color)
      .stalls
        setAround()
        li
          relative()
          img
            width:100%
            height:100%
          >div
            absolute()
            top:60px
            left:0
            right:0
            bottom:0
            setColumn()
            span
              fn(26px)
              font-family: '黑体'
              color(#000)
              mb(30px)
              color(#9499AA)
            i
              fn(30px)
              color()
      .need_advice
        mt(-20px)
        color(light_color)
        mb(50px)
      .contacts
        setBetween()
        p
          fn(16px)
          bold()
          color(#000)
          alignL()
          mb(60px)
        ul
          color(light_color)
          fn(12px)
          alignL()
          li
            margin:30px 0
        .amap-wrapper
          width: 70%
          ml(20px)
          height: 300px

#purchaser
  .bottom_purchase
    relative()
    mt(-2px)
    mb(-2px)
    >div
      absolute()
      top:0
      left:0
      bottom:0
      right:0
      setColumn()
      align-items:center
      h3
        color()
        bold()
        fn(26px)
        mt(3em)
      h4
        color()
        bold()
        fn(20px)
        mt(1.5em)